@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
  font-family: Roboto;
}

span {
  font-size: 18px;
}

#main {
  font-weight: 700;
  text-decoration:underline;
}

main #title {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
}

main div {
  display: flex;
  max-width: 95%;
  overflow: scroll;
  margin: auto;
}

div[data-highcharts-chart] {
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 15px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #bbdaf6;
  border-bottom: 3px solid black;
}

nav a {
  text-decoration:none;
  color: black;
}


div#filter {
  display: flex;
  align-items: center;
  overflow: auto;
  margin-bottom: 10px;
}

input#filter {
  width: 50px;
  margin-right: 10px;
  margin-left: 5px;
}

#filter button {
  background-color: rgb(102, 146, 207);
  color: white;
  height: 35px;
  width: 70px;
  border-radius: 40px;
}

#filter button:hover {
  cursor:pointer;
}

#filter button {
  margin-left: 30px;
}